section#about
	.container
		.row.align-items-center.discription
			.col-3.mx-auto
				.img-s-bigIcone
			.col-7
				h1 our story
				p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
				p Morbisaccumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
				button(type="button").btn.btn-outline-info learn more
		.row.align-items-center.justify-content-center.video
			.col-auto
				a(href="#")
				span watch our story