section#contact
	.container
		.row.justify-content-between
			.col-6
				h1 give us a good news
				input(type='text' placeholder='Name')
				input(type='text' placeholder='Email')
				input(type='text' placeholder='Subject')
				textarea(placeholder='Your Massage')
				button.btn.btn-outline-info submit
			.col-5
				h1 our happy client
				.row.justify-content-between
					.col-auto
						.img-s-zara.icone
						.img-s-barneysNewYork.icone
						.img-s-calvinKlein.icone
						.img-s-converse.icone
						.img-s-levis.icone
					.col-auto
						.img-s-mango.icone
						.img-s-gucci.icone
						.img-s-nike.icone
						.img-s-puma.icone
						.img-s-billabong.icone

