section#expertise
	.container
		.row.justify-content-center
			.col-6
				h1 expertise
				p Lorem ipsum dolor sit amet proin gravida nibh vel velit
		.row.justify-content-center
			.col-auto
				+expertiseItem('s-computer', 'web design & development', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean')
			.col-auto
				+expertiseItem('s-pen', 'branding identity', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.')
			.col-auto
				+expertiseItem('s-mobile', 'mobile app', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.')
		.row.justify-content-center
			.col-auto
				+expertiseItem('s-graph', 'search engine optimization', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.')
			.col-auto
				+expertiseItem('s-gamepade', 'game development', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.')
			.col-auto
				+expertiseItem('s-like', 'made with love', 'This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.')

