section#people-say
	.container
		.row.justify-content-center
			.col-9
				.carousel.slide(data-ride="carousel")#people-say-slider
					ol.carousel-indicators
						li(data-target="#people-say-slider" data-slide-to="0").active.img-s-people1
						li(data-target="#people-say-slider" data-slide-to="1").img-s-people2
						li(data-target="#people-say-slider" data-slide-to="2").img-s-people3
						li(data-target="#people-say-slider" data-slide-to="3").img-s-people4
						li(data-target="#people-say-slider" data-slide-to="4").img-s-people5
						a(href="#people-say-slider" role="button" data-slide="prev").carousel-control-prev
							span(aria-hidden="true").carousel-control-prev-icon
							span.sr-only Prev
						a(href="#people-say-slider" role="button" data-slide="next").carousel-control-next
							span(aria-hidden="true").carousel-control-next-icon
							span.sr-only Next
					.carousel-inner
						.carousel-item.active.text-center
							+people-say-slider('This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.', 'jane galadriel', 'ceo tengkurep')
						.carousel-item.text-center
							+people-say-slider('This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.', 'jane galadriel', 'ceo tengkurep')
						.carousel-item.text-center
							+people-say-slider('This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.', 'jane galadriel', 'ceo tengkurep')
						.carousel-item.text-center
							+people-say-slider('This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.', 'jane galadriel', 'ceo tengkurep')
						.carousel-item.text-center
							+people-say-slider('This is Photoshop\'s version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.', 'jane galadriel', 'ceo tengkurep')
