section#team
	.container
		.row.justify-content-center.title
			.col-6
				h1 meet our amazing team
				p Lorem ipsum dolor sit amet proin gravida nibh vel velit
		.row
			.col
				+teamItem('http://lorempixel.com/220/220/people/', 'placeimg', 'semf ucuk', 'ceo & founder')
			.col
				+teamItem('http://lorempixel.com/220/220/people/','placeimg', 'dik adalin', 'engineering')
			.col
				+teamItem('http://lorempixel.com/220/220/people/','placeimg', 'jeng kol', 'designer')
			.col
				+teamItem('http://lorempixel.com/220/220/people/','placeimg', 'pet romak', 'marketing')
		.row.justify-content-center.moreInfo
			.col-auto
				p Become part of our dream team, let’s join us !
				button(type="button").btn.btn-outline-info.mx-auto we are hiring
