section#work
	.container
		.row.justify-content-between
			.col-auto
				h1 our works
			.col-auto
				a(href="#") See All Project in dribbble
	.row1
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
	.row2
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
		img(src="http://lorempixel.com/266/200/people/", alt="")
	.container
		.row
			button(type="button").btn.btn-outline-info.mx-auto load more
