footer
	.container
		.row
			.col
				.img-s-icone
				span tajam
				p lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
			.col
				h1 our studio
				.img-s-place
				p Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
				.img-s-phone
				a(href='tel:+89996373432') +89996373432
			.col
				h1 stay in touch
				input(type='text' placeholder='Subscribe our newsletter')
				a(href='#').button
					.img-s-paperPlane
				ol.link
					li
						a(href='#').img-s-facebook
					li
						a(href='#').img-s-twitter
					li
						a(href='#').img-s-dribbble
					li
						a(href='#').img-s-instagram
					li
						a(href='#').img-s-google
					li
						a(href='#').img-s-youTube
		.row.justify-content-between
			.col-auto
				ol.nav
					li
						a(href='#') help
					li
						a(href='#') terms & condition
					li
						a(href='#') privacy
			.col-auto
				p Copyright © 2015 - Tajem Creative

