header
	.container
		.row.justify-content-between
			.col-auto
				.img-s-icone
				span tajam
			ul.nav.col-auto
				li.nav-item
					a(href="#").nav-link home
				li.nav-item
					a(href="#").nav-link about
				li.nav-item
					a(href="#").nav-link expertise
				li.nav-item
					a(href="#").nav-link teams
				li.nav-item
					a(href="#").nav-link works
				li.nav-item
					a(href="#").nav-link people say
				li.nav-item
					a(href="#").nav-link contact
		.row.justify-content-center
			.col-10
				.carousel.slide(data-ride="carousel")#headerSlider
					ol.carousel-indicators
						li(data-target="#headerSlider" data-slide-to="0").active
						li(data-target="#headerSlider" data-slide-to="1")
						li(data-target="#headerSlider" data-slide-to="2")
					.carousel-inner
						.carousel-item.active
							+itemHeaderSlider('We Are Awesome Creative Agency', 'This is Photoshop\'s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.').d-block.w-100
						.carousel-item
							+itemHeaderSlider('2page', 'This is Photoshop\'s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.').d-block.w-100
						.carousel-item
							+itemHeaderSlider('3page', 'This is Photoshop\'s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.').d-block.w-100
						a(href="#headerSlider" role="button" data-slide="prev").carousel-control-prev
						a(href="#headerSlider" role="button" data-slide="next").carousel-control-next