=back-ground($url)
	background: url($url) no-repeat
	position: relative
	&::before
		content: ''
		display: block
		height: 100%
		width: 100%
		position: absolute
		background: linear-gradient(to right, #09052f 0%, #311d5e 100%) no-repeat
		opacity: 0.85
