footer
	//height: 400px
	+back-ground('../img/footerBack.png')
	.row
		padding-top: 70px
	h1
		margin-bottom: 30px
		color: #ffffff
		font: 400 15px/26px 'Roboto Black'
		text-transform: uppercase
		letter-spacing: 0.75px
	@extend %icone
	.img-s-icone
		margin-bottom: 27px
	p
		color: #ffffff
		font: 300 14px/26px 'Roboto'
		letter-spacing: 0.35px
	a
		color: #ffffff
		font: 300 18px/26px 'Roboto'
		letter-spacing: 0.35px
	a:hover
		text-decoration: none
	input
		margin-bottom: 27px
		width: 211px
		height: 45px
		padding-left: 10px
		border: 1px solid #ffffff
		opacity: 0.4
		font: 300 18px/26px 'Roboto'
		letter-spacing: 0.7px
	.img-s-phone, .img-s-place
		float: left
		margin: 0 16px 10px 0
	.img-s-phone
		margin-right: 10px
	.nav
		li
			margin-right: 20px
			text-transform: uppercase
	.container .row:last-child
		padding-bottom: 70px
		color: #ffffff
		font: 400 14px/26px 'Roboto'
		letter-spacing: 0.35px
	.container .row:first-child
		.button
			display: inline-block
			padding: 10px 22px
			margin-left: 10px
			font: 300 18px/26px 'Roboto'
			border: 1px solid #ffffff
			background-color: #ffffff
			opacity: 0.5
			vertical-align: middle
		li
			display: inline-block
			border: 1px solid #ffffff
			border-radius: 50%
			padding: 10px
			margin-left: 8px
			transform: scale(1.2)
			.img-s-facebook
				width: 15px
				transform: translate(5px)
			a
				display: inline-block
