header
	+back-ground('../img/headerBack.png')
	.container
		height: 670px
		padding-top: 15px
		@extend %icone
		.nav .nav-link
				padding: 12px !important
				color: #ffffff
				font: 400 13px 'Roboto Black'
				text-transform: uppercase
				letter-spacing: 0.33px
				&:hover
					color: #00e0d0
		#headerSlider
			margin-top: 163px
			li
				border-radius: 50%
				width: 10px
				height: 10px
				&.active
					background: #00e0d0
			.carousel-inner
				height: 365px
				h1
					color: #ffffff
					font: 400 32px 'Playfair Display Black'
					text-align: center
					&:after
						content: ''
						display: block
						width: 50px
						height: 1px
						margin: 21px auto 30px auto
						background: #00e0d0
				p
					color: #ffffff
					font: 400 14px/24px 'Roboto'
					text-align: center
					letter-spacing: 0.7px
				.btn
					@extend %btn-main
					margin-top: 50px