%btn-play
	$foreground: white
	$size: 33px
	$ratio: 1.2
	$transition-time: 0.5s
	display: block
	width: 0
	height: 0
	border-top: $size solid transparent
	border-bottom: $size solid transparent
	border-left: ($size*$ratio) solid $foreground
	position: relative
	transition: all $transition-time
	left: ($size*0.2)
	margin: auto
	&:before
		content: ''
		position: absolute
		top: ($size*-1.5)
		left: ($size*-2.3)
		bottom: ($size*-1.5)
		right: ($size*-0.7)
		border-radius: 50%
		border: ($size*0.2) solid $foreground
		transition: all $transition-time
	&:hover
		&:before
		transform: scale(1.1)
