%icone
	.img-s-icone
		display: inline-block
		vertical-align: middle
	span
		margin: 11px
		background: linear-gradient(to right, #00e0d0 0%, #4aa3cc 100%)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		font: 400 30px/1px 'Roboto Thin'
