section#about
	+back-ground('../img/sectionAboutBack.png')
	,&::before
		background-size: 100% 549px
		background-position: center bottom
	.discription
		height: 402px
		.img-s-bigIcone
			margin-bottom: 30px
		h1
			color: #413d4b
			font: 700 22px 'Playfair Display'
			letter-spacing: 1.1px
			text-transform: uppercase
		p
			opacity: 0.75
			color: #413d4b
			font: 400 14px/22px 'Roboto'
			margin-top: 28px
			letter-spacing: 0.42px
		.btn
			margin-top: 31px
			@extend %btn-main
	.video
		height: 549px
		a
			@extend %btn-play
		span
			display: inline-block
			margin-top: 46px
			color: #ffffff
			font: 400 16px 'Roboto Black'
			text-transform: uppercase
			letter-spacing: 0.8px
