section#expertise
	.row
		margin-top: 80px
	height: 754px
	h1
		color: #413d4b
		font: 700 22px 'Playfair Display'
		text-transform: uppercase
		letter-spacing: 1.1px
		text-align: center
		margin-bottom: 8px
		& ~ p
			text-align: center
			color: #2f2d35
			font: 400 14px 'Playfair Display'
			letter-spacing: 1.05px
			opacity: 0.75
			&:after
				content: ''
				display: block
				width: 50px
				height: 2px
				margin: auto
				margin-top: 18px
				background-color: #413d4b
				opacity: 0.3
	.expertiseItem
		width: 254px
		h2
			margin: 35px 0 25px 0
			color: #413d4b
			font: 400 14px 'Roboto Black'
			text-transform: uppercase
			letter-spacing: 0.7px
			text-align: center
		p
			opacity: 0.75
			color: #333333
			font: 300 14px/22px 'Roboto'
			letter-spacing: 0.7px
			text-align: center