section#people-say
	+back-ground('../img/sectionPeopleSayBack.png')
	height: 500px
	.char
		opacity: 0.9
		color: #ffffff
		font: 400 100px/62px 'Playfair Display'
		letter-spacing: 3px
	p
		margin: 12px 0 52px 0
		opacity: 0.85
		color: #ffffff
		font: 400 16px/26px 'Playfair Display'
		letter-spacing: 0.4px
	.info-people
		.name
			color: #ffffff
			font: 400 14px/22px 'Roboto Black'
			text-transform: uppercase
			letter-spacing: 0.7px
		.town
			opacity: 0.7
			color: #ffffff
			font: 300 12px/22px 'Roboto'
			text-transform: uppercase
	.carousel-inner
		margin-top: 69px
		height: 400px
	.img-s-people1
		background-position: nth($s-people1, 3) - 10px nth($s-people1, 4) - 10px
	li
		width: 45px
		height: 45px
		border-radius: 50%
		&.active
			bottom: (70px - 45px)/2
			transform: scale(1.5)
	a
		margin-bottom: (70px - 45px)/2 + 20px/2