section#team
	+back-ground('../img/sectionTeamBack.png')
	height: 710px
	.title h1
		color: white
		font: 700 22px 'Playfair display'
		text-transform: uppercase
		letter-spacing: 1.1px
		text-align: center
		margin: 71px 0 16px 0
		& ~ p
			text-align: center
			color: #f9f9f9
			font: 400 14px 'Playfair display'
			letter-spacing: 1.05px
			&:after
				content: ''
				display: block;
				width: 50px
				height: 2px
				margin: 18px auto 47px auto
				background-color: white
				opacity: 0.2
	.teamItem
		height: 220px + 80px
		width: 220px
		position: relative
		&:after
			content: ''
			display: block
			height: 80px
			width: 220px
			border: 1px solid #e1e1e1
			border-top: 0
			position: absolute
			left: 1px
			bottom: 0
		img
			width: 220px
			height: 220px
		h1
			margin: 20px 0 12px 0
			color: #ffffff
			font: 400 14px 'Roboto Black'
			text-transform: uppercase
			letter-spacing: 0.7px
			text-align: center
		p
			opacity: 0.7
			color: #fafafa
			font: 300 12px 'Roboto'
			text-transform: uppercase
			text-align: center
	.moreInfo
		p
			margin: 70px 0 26px 0
			color: #f3f3f3
			font: 300 14px 'Roboto'
			letter-spacing: 0.7px
		button
			@extend %btn-main
			display: block
			margin: auto