section#work
	.row
		margin: 70px 0
	h1
		color: #413d4b
		font: 700 22px 'Playfair Display'
		text-transform: uppercase
		letter-spacing: 1.1px
	a
		color: #413d4b
		font: 300 14px 'Roboto'
		letter-spacing: 0.7px
		&:after
			content: ' >'
	img
		display: inline-block
		width: 266.5px
		height: 200px
	.row1
		margin-bottom: -0.2em
	.btn
		@extend %btn-main