section#contact
	.row
		margin-top: 72px
	h1
		margin-bottom: 35px
		color: #413d4b
		font: 700 22px 'Playfair Display'
		text-transform: uppercase
		letter-spacing: 1.1px
	input, textarea
		width: 460px
		border: 1px solid #000000
		margin-bottom: 21px
		opacity: 0.5
		font: 300 14px 'Roboto'
		letter-spacing: 0.7px
	input
		height: 45px
		padding-left: 20px
	textarea
		height: 200px
		padding: 20px 0 0 20px
	.btn
		@extend %btn-main
		margin-bottom: 70px
	.icone
		margin: auto
		margin-bottom: 70px
	h1 ~ .row
		margin-top: 12px
